PORT=8080
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_NAME=vacations_db
DB_USER=vacations_service
DB_PASSWORD=change_vacations_password
DB_POOL_MAX=5
DB_CONNECT_MAX_ATTEMPTS=5
DB_CONNECT_RETRY_DELAY_MS=1000

BROKER_URL=amqp://admin:admin@localhost:5672
BROKER_EXCHANGE=rhm.events
BROKER_QUEUE=vacaciones.queue
BROKER_CONNECT_MAX_ATTEMPTS=5
BROKER_CONNECT_RETRY_DELAY_MS=1000
